extends layout

block content
  h1= title
  p Welcome to #{title}
  
  h1 옵션카운트
  div(id="optionGroup1")
  div(id="optionGroup2")
  h1 제품카운트
  div(id="optionGroup3")
  h1 TotalCount :
  div(id="result")
  
  script(src='./js/redux.bundle.js')