extends layout

block content
  h1= title
  p Welcome to #{title}
  
  h1 옵션카운트
  div(id="optionGroup1")
    
  h1 TotalCount :
  h2(id="result" style="color:green;")
    
  div(id="selectWrapper")
  
  //- script(src='./js/redux.bundle.js')
  script(src='./js/redux.bundle.js')