<div>
  <h1 data-role="disp">{{ count }}</h1>
  <button id="up" data-role="action" data-action-type="UP">UP</button>
  <button id="down" data-role="action" data-action-type="DOWN">DOWN</button>
</div>